.breadcrumb{
  margin: 2rem 0 0;
  background-color: $gray-lighter;
  padding: 10px;
  @include media-breakpoint-down(md) {
    padding: 5px;
    margin: 10px 0 0;
  }
  a {
    font-weight: 600;
  }
}

.breadcrumb-item{
  font-weight: 400;
  color: $text-color;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-right: 15px;
  display: inline-block;

  @include media-breakpoint-down(md) {
    font-size: 1.2rem;
  }

}

span.breadcrumb-item{

  font-weight: 400;

}

.breadcrumb-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 15px;
}

.breadcrumb-icon.breadcrumb-icon--grid {
  width: 15px;
  height: 15px;
  margin: 0 15px;
}

.breadcrumb-item +
.breadcrumb-item::before {
  text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item{
  padding-left: 0;
}

