.benefit-heading__row {
  background-color: $gray-med;
  padding: 10px;
}

.benefit-heading__heading {
  font-size: 1.6rem;
  font-weight: bold;
}

.benefit-heading__status {
  font-size: 1.2rem;
  margin-top: 10px;
}
