.bg-gray-light{
  background: $gray-light;
}

.bg-gray-lighter{
  background: $gray-lighter;
}

.bg-gray-lightest{
  background: #f4f4f4;
}

.bg-secondary-beta{
  background-color: $brand-secondary-beta;
}

.bg-gray-dark {
  background: $gray-dark;
}
.bg-gray-darker {
  background: $gray-darker;
}

.bg-gray-med {
  background: $gray-med;
}

.bg-gray{
  background: $gray;
}

.bg-black {
  background: $black;
}

.bg-white {
  background: $white;
}
