@import "./breakpoints.scss";

$gray-base:              #272727;
$gray-eee:              #eeeeee;
$gray-darker:            #272727;
$gray-dark:              #343434;
$gray:                   #9c9c9c;
$gray-med:               #d8d8d8;
$gray-med-light:         #dddddd;
$gray-light:             #e3e3e3;
$gray-lighter:           #f0f0f0;
$white:                   #ffffff;
