.icon.icon-folder{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('/' + $service + '/folder.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0;
  margin-right: 20px;
  top: 0px;
  transform: none;
}