.benefits-box{
  font-weight: 600;
  color: $brand-primary;
  text-align: center;
  margin: 0 0 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row nowrap;
}
