.service-page-intro{
  margin: 40px 0;
}

.service-page-intro .h1-large {
  box-shadow: 20px 0 0 $brand-primary, -20px 0 0 $brand-primary;
  padding: 5px 0;
  display: inline;
  background: $brand-primary;
  color: white;
  margin-bottom: 30px;
  margin-left: 15px;
}

.service-page-intro .h3{
  margin-top: 40px;
}